version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    hostname: backend
    # On laisse les ports si vous voulez un accès direct,
    # mais Dokploy passera par le port 8000 via le domaine.
    ports:
      - "8000:8000"
    networks:
      - dokploy-network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8501:8501"
    environment:
      # TRÈS IMPORTANT : Utilisez l'URL publique que vous allez configurer dans Dokploy
      - API_URL=http://84.8.129.144:8000
    depends_on:
      - backend
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
